@model ViewModelApp.Models.ViewModel.FootballerAddVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Footballer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.FootballerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Footballer.FootballerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Footballer.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Footballer.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.Position.PositionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Footballer.Position.PositionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Footballer.Team.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Footballer.Team.TeamName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
